colorao = #CC6633
colorados = #AC6B56
oscuro = #434142

@font-face {
    font-family: 'camptonlight';
    src: url('../fonts/campton.light-webfont.eot');
    src: url('../fonts/campton.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton.light-webfont.woff') format('woff'),
         url('../fonts/campton.light-webfont.ttf') format('truetype'),
         url('../fonts/campton.light-webfont.svg#camptonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonlight_italic';
    src: url('../fonts/campton.light.italic-webfont.eot');
    src: url('../fonts/campton.light.italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton.light.italic-webfont.woff') format('woff'),
         url('../fonts/campton.light.italic-webfont.ttf') format('truetype'),
         url('../fonts/campton.light.italic-webfont.svg#camptonlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonmedium';
    src: url('../fonts/campton.medium-webfont.eot');
    src: url('../fonts/campton.medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton.medium-webfont.woff') format('woff'),
         url('../fonts/campton.medium-webfont.ttf') format('truetype'),
         url('../fonts/campton.medium-webfont.svg#camptonmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonmedium_italic';
    src: url('../fonts/campton.medium.italic-webfont.eot');
    src: url('../fonts/campton.medium.italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton.medium.italic-webfont.woff') format('woff'),
         url('../fonts/campton.medium.italic-webfont.ttf') format('truetype'),
         url('../fonts/campton.medium.italic-webfont.svg#camptonmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
	background #f5f5f5
	font-size 18px
	footer
		background #AC6B56
		color white
		padding 3rem 0
		text-align center
		a
			color #DDD
		.inner
			font-size 12px
	header
		background colorao
		height 140px
		margin 0 auto
		position fixed
		top 0
		width 100%
		z-index 10
		.contenedor
			margin 0 auto
			width 80%
			.logo
				position relative
				z-index 2
				figure
					margin 0
					width 145px
					img
						width 100%
		.oscuro
			background oscuro
			bottom 0
			height 34px
			position absolute
			width 100%
			z-index 1
	.fijo
		display block
		height 390px
		margin-top 140px
		opacity 1
		position relative
		width 100%
		z-index 1
		.bio
			margin-top 3.4em
			position fixed
			text-align center
			width 100%
			.slide
				position relative
				li
					height 3em
					figure
						margin 0
						padding 0
						position relative
						width 100%
						img
							width 180px
						figcaption
							width 100%
							p
								color white
								font-family 'camptonlight'
		.fijoImg
			background-attachment fixed
			background-image url('../images/background2.jpg')
			background-position center center
			background-size cover
			display block
			height 100%
			width 100%
	main
		background #f5f5f5
		padding 2em 0
		position relative
		z-index 1
		section
			margin 0 auto
			width 80%
			.tools
				text-align center
				ul
					margin 0
					padding 0
					li
						display inline-block
						figure
							margin 0
							padding 0
							img
								filter grayscale(1)
								opacity .5
								transition .7s
								-webkit-filter grayscale(1)
								width 100px
								&:hover
									filter grayscale(0)
									opacity 1
									-webkit-filter grayscale(0)
		.contPag
			font-family 'camptonlight_italic'
			font-size 16px
			text-align center
			margin-top 3em
		.galeria
			background #666
			width 100%
			.contPost
				margin 0 auto
				padding 1rem 0
				width 80%
				.post-iterado
					display block
					font-size 0
					padding 0
					li
						display inline-block
						font-size 0
						margin 0
						padding 0
						position relative
						vertical-align top
						width 25%
						article
							margin 0
							width 100%
							a
								color white
								.imagen
									margin 0
									padding 0
									p
										margin 0
										img
											width 100%
								.tituloPost
									background rgba(colorao, .8)
									bottom 0
									left 0
									opacity 0
									position absolute
									right 0
									text-align center
									transition .5s ease-out
									top 0
									&:hover
										opacity 1
									h2
										color white
										font-family 'camptonlight'
										font-size 18px
										margin-top 30%
									.fecha
										color white
										font-family 'camptonlight_italic'
										font-size 14px


		.internoPost
			margin-top 7em
			.author
				background oscuro
				color white
				h4
					font-family 'camptonlight'
					font-size 14px
					margin 0 0 0 12px
				p
					font-family 'camptonlight_italic'
					font-size 14px
					margin 0 0 0 12px
				ul
					margin 0 0 0 12px
					padding 0
					li
						font-family 'camptonlight_italic'
						font-size 14px
						list-style none
			.cabecera
				background oscuro
				h1
					color white
					font-family 'camptonlight'
					//line-height 52px
					margin 0
					text-align center
				span
					color colorao
					font-family 'camptonlight_italic'
					font-size 12px
					margin 0 0 0 1em
					text-align center
			.contenidoPost
				width 100%
				p
					font-family 'camptonlight'
					font-size 18px
					margin 0
					text-align justify
					img
						margin-bottom 2em
						width 100%
			.tags
				color oscuro
				font-family 'camptonlight_italic'
				font-size 12px
				margin 2em 0
				a
					color colorao
					font-family 'camptonmedium'
					font-size 13px
.bx-wrapper
	height 240px
.bx-start.active
.bx-pager-link.active
	background #EEE
	border 2px solid white
.bx-pager-link
	border 2px solid white
	border-radius 50%
	bottom 0
	display inline-block
	height .5rem
	position absolute
	text-indent -9999px
	vertical-align middle
	width .5rem
.bx-pager-item
	display inline-block
	margin 0 .4em 0 0
	&:nth-child(even)
		margin 0 0 0 .4em
.bx-prev
.bx-next
	display none


@media (max-width 1200px)
	body
		.fijo
			height 310

@media (max-width 600px)
	body
		main
			section
				width 90%
				.tools
					ul
						li
							figure
								img
									width 70px